/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* header section starts */
#header{
    background-color: #161616;
    border-radius: 30px;
    margin: 30px 100px;
    display: flex;
    align-items: center;
}
.header-title{
    width: 50%;
    padding: 60px 100px;
}
.header-title h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    line-height: 80px;
}
.header-title p{
    font-size: 18px;
    color: lightgray;
    margin: 30px 0;
}
.header-title button{
    background-color: #DD0000;
    font-size: 20px;
    padding: 20px 40px;
    color: white;
    border-radius: 10px;
}
.arrow{
    margin-left: 20px;
}
.header-image{
    width: 50%;
}
.header-image img{
    width: 100%;
    /* padding: 40px 100px 0; */
}
/* header section ends */

/* main section starts */
#main-section{
    display: flex;
    margin: 50px 100px;
}
.fixed-part{
    width: 400px;
    margin-right: 30px;
}
.group-stage{
    display: grid;
    grid-template-rows: repeat(1, 1fr); 
    background-color: #161616;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
}
.group-stage a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    border-radius: 10px;
    color: #161616;
    padding: 20px 40px;
    margin: 20px 30px;
    cursor: pointer;
}
.group-stage a:nth-child(3){
    background-color: #DD0000;
    color: white;
}
.flexible-part{
    flex-grow: 1;
}
.transfer-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
}
.transfer{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(187, 185, 185, 0.363);
}
.transfer-img img{
    width: 100%;
}
.transfer-details{
    padding: 20px 20px;
}
.transfer-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 15px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}
.transfer-details p{
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;
}
.transfer-details span {
    margin-right: 30px;
}
/* main section starts */

/* match section starts */
.match-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
}
.match{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(209, 206, 206, 0.534);
    box-shadow: 5px 5px 25px rgba(187, 185, 185, 0.363);
}
.match-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.match-img p{
    font-size: 20px;
    font-weight: 600;
    margin: 0 40px;
}
.match-info{
    text-align: center;
}
.match-info h3{
    font-size: 25px;
    font-weight: bold;
}
.match-info h4{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
/* match section ends */

/* invisible section */
.visible{
    text-align: center;
}
.visible button{
    background-color: #DD0000;
    font-size: 20px;
    padding: 20px 40px;
    color: white;
    border: none;
    border-radius: 10px;
}
.invisible{
    display: none;
}
/* footer starts */
footer{
    width: 100%;
    background-color: #161616;
    height: 400px;
    text-align: center;
    margin-top: 100px;
}
footer h2{
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
}
footer hr{
    margin: 30px 300px;
    border: none;
    border-bottom: 1px solid gray;
}
.footer-menu a{
    text-decoration: none;
    color: #898989;
    margin: 0 20px;
}
.social-icon{
    display: none;
}
/* footer ends */

/* responsive style */

/* for mobile device */
@media only screen and (max-width: 576px) {
    #header{
        width: 100%;
        flex-direction: column;
        padding: 20px;
        margin: 0;
        text-align: center;
    }
    .header-title{
        width: 100%;
        padding: 5px;
    }
    .header-title h1{
        font-size: 35px;
        line-height: 50px;
    }
    .header-title p{
        font-size: 16px;
        margin: 10px 0;
    }
    .header-title button{
        font-size: 15px;
        padding: 8px 10px;
        border: none;
    }
    .header-image img{
        margin-top: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #main-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 20px 0;
    }
    .fixed-part{
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }
    .group-stage{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #FFFFFF;
        margin: 0 auto;
    }
    .group-stage a{
        margin: 10px;
        padding: 10px;
        background-color: white;
        border: 1px solid rgba(206, 204, 204, 0.486);
    }
    .flexible-part{
        width: 100%;
        margin: 20px 0;
        padding: 20px;
    }
    .transfer-section, .match-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        margin: 20px 0;
    }
    .transfer, .match{
        width: 100%;
        margin: 0 auto;
    }
    footer h2{
        font-size: 35px;
        padding-top: 50px;
    }
    footer hr{
        margin: 30px;
        border: none;
        border-bottom: 1px solid gray;
    }
    .footer-menu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px 0;
    }
    .social-icon{
        display: block;
    }
}

/* for tablet device */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    #header{
        padding: 20px;
    }
    .header-title{
        padding: 30px 10px;
    }
    .header-image img{
        width: 100%;
    }
    .header-title h1{
        font-size: 30px;
        line-height: 35px;
    }
    .header-title p{
        font-size: 15px;
    }
    .header-title button{
        font-size: 15px;
        padding: 15px 30px;
    }
    #main-section{
        display: flex;
        flex-direction: column;
    }
    .fixed-part{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .group-stage{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #FFFFFF;
        padding: 0;
        margin-bottom: 50px;
    }
    .group-stage a{
        width: 100%;
        border: 1px solid rgba(155, 153, 153, 0.616);
        padding: 15px 5px;
        margin: 10px;
    }
    .transfer-section, .match-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .invisible{
        display: block;
    }
}